# Generate with:
# docker compose run --rm web python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY= replace-me
# Set DEBUG=True only when developing locally. 
DEBUG=False

POSTGRES_DB=bakerstreet_budget
POSTGRES_USER=bakerstreet_user
POSTGRES_PASSWORD=Your_Password
DB_HOST=db
DB_PORT=5432

# Sign in to the YNAB web app and go to the "Account Settings" page and then to the "Developer Settings" page.
# Under the "Personal Access Tokens" section, click "New Token", enter your password and click "Generate" to get an access token.
YNAB_BEARER_TOKEN=replace-me
YNAB_BUDGET_ID=last-used

ALLOWED_HOSTS=Host IP,localhost