<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1 style="text-align: center;">GOALS DASHBOARD</h1>

<!-------- Check to see if user is logged in -------->

{% if request.user.is_authenticated %}
  <form method="post" action="{% url 'sync_ynab_now' %}" style="position: absolute; right: 0;">
    {% csrf_token %}
    <button type="submit">Sync YNAB</button>
  </form>
{% endif %}

<br>

<!-------- Saving goals selection form -------->

{% if not selected_target_category_ids and not selected_need_category_ids %}
  <form method="get">
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 40px; align-items: start;">

      <div>
        <h3 style="text-align: center;">Select Saving Goals</h3>

        <div style="columns: 250px;">
          {% for category in target_goals %}
            <label style="display: block; break-inside: avoid;">
              <input
                type="checkbox"
                name="target_categories"
                value="{{ category.id }}"
              >
              {{ category.name }}
            </label>
          {% endfor %}
        </div>
      </div>

      <div>
        <h3 style="text-align: center;">Select Spending Goals</h3>

        <div style="columns: 230px;">
          {% for category in spending_goals %}
            <label style="display: block; break-inside: avoid;">
              <input
                type="checkbox"
                name="need_categories"
                value="{{ category.id }}"
              >
              {{ category.name }}
            </label>
          {% endfor %}
        </div>
      </div>

    </div>

    <br>

    <div style="text-align: center;">
      <button type="submit">Show selected</button>
    </div>

    <br>
  </form>
{% endif %}

<!-------- Saving goals chart creation -------->

{% if selected_target_goal_charts %}
  <h2 style="text-align: center;">Saving Goals</h2>

  <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 24px;">
    {% for goal in selected_target_goal_charts %}
      <div style="width: 250px; height: 300px; position: relative; text-align: center;">
        <div style="width: 250px; height: 250px; position: relative;">
          <canvas id="targetGoalChart{{ forloop.counter }}"></canvas>
        </div>

        <h3>{{ goal.name }}</h3>
      </div>

      <script>
        const targetCenterTextPlugin{{ forloop.counter }} = {
          id: "targetCenterText{{ forloop.counter }}",
          beforeDraw(chart) {
            const { width, height, ctx } = chart;
            ctx.restore();

            ctx.font = "bold 22px Arial";
            ctx.textBaseline = "middle";
            ctx.textAlign = "center";

            const text = "{{ goal.percentage }}%";
            const x = width / 1.95;
            const y = height / 1.75;

            ctx.fillText(text, x, y);
            ctx.save();
          }
        };

        new Chart(document.getElementById("targetGoalChart{{ forloop.counter }}"), {
          type: "doughnut",
          data: {
            labels: ["Complete", "Remaining"],
            datasets: [{
              label: "{{ goal.name|escapejs }}",
              data: [{{ goal.percentage }}, {{ goal.remaining }}],
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false
          },
          plugins: [targetCenterTextPlugin{{ forloop.counter }}]
        });
      </script>
    {% endfor %}
  </div>
{% endif %}

<!-------- Spending goal cards creation -------->

{% if selected_need_categories %}
  <br>
  <h2 style="text-align: center;">Spending Goals</h2>

  <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 24px;">
    {% for category in selected_need_categories %}
      <div style="
        border: 1px solid #ccc;
        border-radius: 12px;
        padding: 20px;
        text-align: center;
      ">
        <h3>{{ category.name }}</h3>

        <p>
          Current Balance:
          {{ category.balance_display }}
        </p>

      </div>
    {% endfor %}
  </div>
{% endif %}